<div class="navbar">
  <h1>Hello to my store:</h1>
  <div class="links">
    <ul>
      <li>
        <a routerLink="/feed" routerLinkActive="active">feed</a>
      </li>
      <li>
        <a routerLink="/cart" routerLinkActive="active">cart</a>
      </li>
      <ng-container *ngIf="!user; else notIf">
        <li>
          <a routerLink="/login">Login</a>
        </li>
        
      </ng-container>
      <ng-template #notIf>
        <li>{{ user?.email }}, <a routerLink="/login">Logout </a></li>
        <li>Num of Items: ({{numberOfItemInCart}})</li>
      </ng-template>
    </ul>
  </div>
</div>
