<div class="login">
  <form #form="ngForm" (ngSubmit)="submit(form)">
    <div class="form-cotrol">
      <span>Email:</span>
      <input
        type="email"
        ngModel
        required
        email
        #email="ngModel"
        name="email"
      />

      <small style="color: red"
      *ngIf="!email.valid && email.hasError('required') && email.touched"> Email is required </small>

      <small style="color: red"
      *ngIf="!email.valid && email.hasError('email') && email.touched"> Email must be a valid email format </small>
    </div>

    <div class="form-cotrol">
      <span>Password:</span>
      <input
        type="password"
        ngModel
        required
        name="password"
        #password="ngModel"
      />
    </div>

    <button type="submit" [disabled]="!form.valid">LOGIN</button>
  </form>
</div>
